<div class="login-container">
  <p-toast key="myKey" />
  <div class="login-box">
    <h2>Login</h2>

    <div class="input-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        [(ngModel)]="registerRequest.login"
        placeholder="Digite seu email"
        required
      />
    </div>

    <div class="input-group">
      <label for="password">Senha</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="registerRequest.password"
        placeholder="Digite sua senha"
        required
      />
    </div>

    <button (click)="login()" class="login-button">Entrar</button>

    <div class="register-link"></div>
  </div>
</div>
