<header>
  <p-toast key="myKey"></p-toast>
  <div style="display: flex; justify-content: center; align-items: center">
    <h1 style="color: #dbdbdb; width: 30%; text-align: start">
      Gerenciar Clientes
    </h1>
    <div style="width: 66%; text-align: end">
      <p-button label="Cadastrar Cliente" (click)="showDialog()"></p-button>
    </div>
  </div>
</header>

<main style="width: auto; margin: 1%; overflow-x: hidden">
  <table>
    <thead>
      <tr
        style="
          font-weight: 700;
          padding: 10px;
          font-size: 14px;
          text-align: left;
        "
      >
        <th colspan="2">Nome</th>
        <th colspan="3">Email</th>
        <th colspan="2">Celular</th>
        <th style="text-align: center">Notificação</th>
        <th style="text-align: end; padding-right: 30px">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes; trackBy: trackByFn">
        <td colspan="2">{{ cliente.nome }}</td>
        <td colspan="3">{{ cliente.email }}</td>
        <td colspan="2">{{ cliente.celular }}</td>
        <td style="text-align: center">
          <p-inputSwitch
            [(ngModel)]="cliente.desejaSerNotificado"
            [disabled]="true"
          ></p-inputSwitch>
        </td>
        <td colspan="1" style="text-align: end">
          <p-splitButton
            label="Ver Detalhes"
            [model]="items"
            (onClick)="showDialog(cliente)"
          ></p-splitButton>
        </td>
      </tr>
    </tbody>
    <tfoot style="background-color: #1e293b">
      <tr>
        <td colspan="9">Total de Clientes: {{ clientes.length }}</td>
      </tr>
    </tfoot>
    <tfoot *ngIf="clientes.length < 1" style="background-color: #1e293b">
      <tr>
        <td colspan="9" style="text-align: center; font-size: large">
          Tabela Vazia
        </td>
      </tr>
    </tfoot>
  </table>
</main>

<!-- Dialog para exibir os detalhes completos do cliente -->
<p-dialog
  header="Detalhes do Cliente"
  [modal]="true"
  [(visible)]="visibilidadeDialogDetalhes"
  [style]="{ width: '30rem' }"
>
  <div style="display: flex; flex-direction: column; gap: 1rem">
    <p><strong>Nome:</strong> {{ clienteSelecionado?.nome }}</p>
    <p><strong>CPF:</strong> {{ clienteSelecionado?.cpf }}</p>
    <p><strong>Celular:</strong> {{ clienteSelecionado?.celular }}</p>
    <p><strong>Email:</strong> {{ clienteSelecionado?.email }}</p>
    <p>
      <strong>Deseja Ser Notificado:</strong>
      {{ clienteSelecionado?.desejaSerNotificado }}
    </p>
    <p><strong>Status:</strong> {{ clienteSelecionado?.status }}</p>

    <h3>Endereço</h3>
    <p><strong>Rua:</strong> {{ clienteSelecionado?.enderecoResponse?.rua }}</p>
    <p>
      <strong>Número:</strong>
      {{ clienteSelecionado?.enderecoResponse?.numero }}
    </p>
    <p>
      <strong>Bairro:</strong>
      {{ clienteSelecionado?.enderecoResponse?.bairro }}
    </p>
    <p><strong>CEP:</strong> {{ clienteSelecionado?.enderecoResponse?.cep }}</p>
    <p>
      <strong>Cidade:</strong>
      {{ clienteSelecionado?.enderecoResponse?.cidade }}
    </p>
    <p>
      <strong>Estado:</strong>
      {{ clienteSelecionado?.enderecoResponse?.estado }}
    </p>
    <p>
      <strong>Complemento:</strong>
      {{ clienteSelecionado?.enderecoResponse?.complemento }}
    </p>
  </div>
</p-dialog>
