<header>
  <p-toast key="myKey" />
  <div style="display: flex; justify-content: center; align-items: center">
    <h1 style="color: #dbdbdb; width: 30%; text-align: start">
      Gerenciar Fornecedores
    </h1>
    <div style="width: 66%; text-align: end"></div>
  </div>
</header>
<main style="width: auto; margin: 1%; overflow-x: hidden">
  <table>
    <thead>
      <tr
        style="
          font-weight: 700;
          padding: 10px;
          font-size: 14px;
          text-align: left;
        "
      >
        <th colspan="1" style="width: 6%; text-align: center">
          Status
          <p-inputSwitch
            [(ngModel)]="ativo"
            (click)="buscarListaDeFornecedores()"
          />
        </th>
        <th colspan="2">Fornecedor</th>
        <th colspan="2">CNPJ</th>
        <th colspan="1">Celular</th>
        <th style="text-align: end; padding-right: 30px">
          <p-button label="Cadastrar" (click)="showDialog()" />
        </th>
        <th colspan="1" style="width: 5%; text-align: end; padding-right: 50px">
          Ações
        </th>
      </tr>
    </thead>
    <tbody>
      @for(fornecedor of fornecedores; track $index) {
      <tr>
        <td colspan="1"></td>
        <td colspan="2">{{ fornecedor.descricao }}</td>
        <td colspan="2">{{ fornecedor.cnpj }}</td>
        <td colspan="1">{{ fornecedor.telefone }}</td>
        <td></td>
        <td colspan="1" style="text-align: end">
          <p-splitButton
            label="Editar"
            [model]="items"
            (onClick)="showDialog(fornecedor)"
            (onDropdownClick)="acaoClique(fornecedor)"
          />
        </td>
      </tr>
      }
    </tbody>
    <tfoot style="background-color: #1e293b">
      <tr>
        <td colspan="8">
          Total de Fornecedores {{ ativo ? "Ativos" : "Inativos" }}:
          {{ fornecedores.length }}
        </td>
      </tr>
    </tfoot>
    @if(fornecedores.length < 1) {
    <tfoot style="background-color: #1e293b">
      <tr>
        <td colspan="8" style="text-align: center; font-size: large">
          Tabela Vazia
        </td>
      </tr>
    </tfoot>
    }
  </table>
</main>

<p-dialog
  header="Cadastrar Fornecedor"
  [modal]="true"
  [(visible)]="visibilidadeDialogForm"
  [style]="{ width: '25rem' }"
>
  <div style="display: flex; align-items: center; margin-bottom: 1rem">
    <label for="desc" style="width: 30%">Descrição</label>
    <input
      [(ngModel)]="fornecedorRequest.descricao"
      pInputText
      id="desc"
      style="width: 70%"
      autocomplete="off"
    />
  </div>
  <div style="display: flex; align-items: center; margin-bottom: 1rem">
    <label for="cnpj" style="width: 30%">CNPJ</label>
    <input
      [(ngModel)]="fornecedorRequest.cnpj"
      pInputText
      id="cnpj"
      style="width: 70%"
      autocomplete="off"
    />
  </div>
  <div style="display: flex; align-items: center; margin-bottom: 2rem">
    <label for="telefone" style="width: 30%">Telefone</label>
    <input
      [(ngModel)]="fornecedorRequest.telefone"
      pInputText
      id="telefone"
      style="width: 70%"
      autocomplete="off"
    />
  </div>
  <div style="display: flex; justify-content: center; gap: 2rem">
    <button
      type="button"
      label="Cancelar"
      severity="secondary"
      (click)="visibilidadeDialogForm = false"
      style="width: 50%"
      pButton
    ></button>
    <button
      type="button"
      label="Salvar"
      (click)="cadastrarOuAtualizarFornecedor()"
      style="width: 50%"
      pButton
    ></button>
  </div>
</p-dialog>
