header {
  width: auto;
  margin: 1%;
  border-bottom: 1px solid #1e293b;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

table {
  width: 100%;
  padding: 10px;
  border-collapse: collapse;
  border: 1px solid #334155;
}

th {
  background-color: #1e293b;
  border-bottom: 1px solid #334155;
}

th,
td {
  border: 0;
  border-bottom: 1px solid #334155;
  padding: 7px;
}

tr:nth-child(even) {
  background-color: #0f172a;
}
