<header>
  <p-toast key="myKey" />
  <div style="display: flex; justify-content: center; align-items: center">
    <h1 style="color: #dbdbdb; width: 30%; text-align: start">
      Gerenciar Serviços
    </h1>
    <div style="width: 66%; text-align: end">
      <p-button
        label="Relatorio"
        (click)="gerarRelatorioDeServico()"
      ></p-button>
    </div>
  </div>
</header>
<main style="width: auto; margin: 1%; overflow-x: hidden">
  <table>
    <thead>
      <tr
        style="
          font-weight: 700;
          padding: 10px;
          font-size: 14px;
          text-align: left;
        "
      >
        <th colspan="1" style="width: 6%; text-align: center">
          Status
          <p-inputSwitch [(ngModel)]="ativo" (click)="buscarListaDeServico()" />
        </th>
        <th colspan="3">Serviço</th>
        <th colspan="2">Preço</th>
        <th style="text-align: end; padding-right: 30px">
          <p-button label="Cadastrar" (click)="showDialog()" />
        </th>
        <th colspan="1" style="width: 5%; text-align: end; padding-right: 50px">
          Ações
        </th>
      </tr>
    </thead>
    <tbody>
      @for(servico of servicos; track $index) {
      <tr>
        <td colspan="1"></td>
        <td colspan="2">{{ servico.descricao }}</td>
        <td colspan="3">R$ {{ servico.preco }}</td>
        <td></td>
        <td colspan="1" style="text-align: end">
          <p-splitButton
            label="Editar"
            [model]="items"
            (onClick)="showDialog(servico)"
            (onDropdownClick)="acaoClique(servico)"
          />
        </td>
      </tr>
      }
    </tbody>
    <tfoot style="background-color: #1e293b">
      <tr>
        <td colspan="8">
          Total de Serviços {{ ativo ? "Ativos" : "Inativos" }}:
          {{ servicos.length }}
        </td>
      </tr>
    </tfoot>
    @if(servicos.length < 1) {
    <tfoot style="background-color: #1e293b">
      <tr>
        <td colspan="8" style="text-align: center; font-size: large">
          Tabela Vazia
        </td>
      </tr>
    </tfoot>
    }
  </table>
</main>

<p-dialog
  header="Cadastrar Servico"
  [modal]="true"
  [(visible)]="visibilidadeDialogForm"
  [style]="{ width: '25rem' }"
>
  <div style="display: flex; align-items: center; margin-bottom: 1rem">
    <label for="desc" style="width: 30%">Descrição</label>
    <input
      [(ngModel)]="servicoRequest.descricao"
      pInputText
      id="desc"
      style="width: 70%"
      autocomplete="off"
    />
  </div>
  <div style="display: flex; align-items: center; margin-bottom: 2rem">
    <label for="preco" style="width: 30%">Preço</label>
    <input
      [(ngModel)]="servicoRequest.preco"
      pInputText
      id="preco"
      style="width: 70%"
      autocomplete="off"
    />
  </div>
  <div style="display: flex; justify-content: center; gap: 2rem">
    <button
      type="button"
      label="Cancelar"
      severity="secondary"
      (click)="visibilidadeDialogForm = false"
      style="width: 50%"
      pButton
    ></button>
    <button
      type="button"
      label="Salvar"
      (click)="cadastrarOuAtualizarServico()"
      style="width: 50%"
      pButton
    ></button>
  </div>
</p-dialog>
