/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-dark-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url("https://fonts.googleapis.com/css2?family=Varta:wght@300..700&display=swap");

body {
  background-color: #020617;
}

* {
  font-family: "Varta", sans-serif;
}

header {
  width: auto;
  margin: 1%;
  border-bottom: 1px solid #1e293b;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

table {
  width: 100%;
  padding: 10px;
  border-collapse: collapse;
  border: 1px solid #334155;
}

th {
  background-color: #1e293b;
  border-bottom: 1px solid #334155;
}

th,
td {
  border: 0;
  border-bottom: 1px solid #334155;
  padding: 7px;
}

tr:nth-child(even) {
  background-color: #0f172a;
}

.compra > button {
  width: 65px;
  height: 35px;
  background-color: transparent;
  border: 0;
  border-radius: 10px 0 0 10px;
  transition: 200ms;
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
}
.compra > button.p-splitbutton-menubutton {
  width: 40px;
  border-radius: 0 10px 10px 0;
}

.compra > button:hover {
  background-color: #1e293b;
}
.compra.selecionado button {
  background-color: #020617;
}

.styleButton {
  width: 100%;
}
