<header>
  <p-toast key="myKey" />
  <div style="display: flex; justify-content: center; align-items: center">
    <h1 style="color: #dbdbdb; width: 30%; text-align: start">
      Gerenciar Compras
    </h1>
    <div style="width: 66%; text-align: end"></div>
  </div>
</header>
<main style="width: auto; margin: 1%">
  <table>
    <thead>
      <tr
        style="
          font-weight: 700;
          padding: 10px;
          font-size: 14px;
          text-align: left;
        "
      >
        <th colspan="1"></th>
        <th colspan="2">Funcionário</th>
        <th colspan="1">Fornecedor</th>
        <th colspan="1">Data - Hora</th>
        <th colspan="1">Total</th>
        <th
          colspan="2"
          style="width: 15%; text-align: end; padding-right: 50px"
        >
          Lista de Serviços
        </th>
        <th colspan="1" style="text-align: end; padding-right: 30px">
          <p-button label="Salvar" (click)="showDialog()" />
        </th>
      </tr>
    </thead>
    <tbody>
      @for(compra of compras; track $index) {
      <tr>
        <td colspan="1"></td>
        <td colspan="2">{{ compra.funcionario }}</td>
        <td colspan="1">{{ compra.fornecedor }}</td>
        <td colspan="1">{{ compra.dataHora }}</td>
        <td colspan="1">R$ {{ compra.valorTotal }}</td>
        <td colspan="2" style="text-align: center">
          <button
            type="button"
            label="Visualizar"
            severity="secondary"
            (click)="showDialogProdutos(compra)"
            style="width: 66%"
            pButton
          ></button>
        </td>
        <td colspan="1"></td>
      </tr>
      }
    </tbody>
    @if(compras.length < 1) {
    <tfoot style="background-color: #1e293b">
      <tr>
        <td colspan="9" style="text-align: center; font-size: large">
          Tabela Vazia
        </td>
      </tr>
    </tfoot>
    }
  </table>
</main>
<p-dialog
  header="Visualizar Compras"
  [modal]="true"
  [(visible)]="visibilidadeDialogProdutos"
  [style]="{ width: '50rem', overflowY: 'auto' }"
>
  <table>
    <thead>
      <tr
        style="
          font-weight: 700;
          padding: 10px;
          font-size: 14px;
          text-align: left;
        "
      >
        <th colspan="1" style="width: 6%"></th>
        <th colspan="2">Produto</th>
        <th colspan="2">Quantidade</th>
        <th colspan="2">Preço unitário</th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      @for(produto of listaDeProdutos; track $index) {
      <tr>
        <td></td>
        <td colspan="2">{{ produto.produto }}</td>
        <td colspan="2">{{ produto.quantidade }}</td>
        <td colspan="2">R$ {{ produto.valorUnitario }}</td>
        <td></td>
      </tr>
      }
    </tbody>
    @if(listaDeProdutos.length < 1) {
    <tfoot style="background-color: #1e293b">
      <tr>
        <td colspan="6" style="text-align: center; font-size: large">
          Tabela Vazia
        </td>
      </tr>
    </tfoot>
    }
  </table>
</p-dialog>
<p-dialog
  header="Cadastrar Compra"
  [modal]="true"
  [(visible)]="visibilidadeDialogForm"
  [style]="{ width: '50rem', height: '30rem', overflowY: 'auto' }"
>
  <div style="display: flex; width: 100%; flex-wrap: wrap">
    <div
      style="
        width: 66%;
        margin-bottom: 1rem;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
      "
    >
      <label for="desc" style="width: 100%">Fornecedor</label>
      <input
        pInputText
        [(ngModel)]="compraRequest.fornecedor"
        list="listaDeFornecedor"
        id="desc"
        style="width: 100%"
        autocomplete="off"
        (input)="selecionarFornecedor()"
      />
    </div>
    <div
      style="
        width: 33%;
        margin-bottom: 1rem;
        margin-left: 1%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
      "
    >
      <label for="desc" style="width: 100%">Valor Total</label>
      <input
        pInputText
        [(ngModel)]="compraRequest.valorTotal"
        [disabled]="true"
        id="desc"
        style="width: 100%"
        autocomplete="off"
      />
    </div>
  </div>
  <div style="display: flex; height: 80%; gap: 5%">
    <div style="display: flex; flex-direction: column; width: 40%">
      <div style="display: flex; align-items: center; margin-bottom: 1rem">
        <label for="desc" style="width: 30%">Produto</label>
        <input
          [(ngModel)]="compraProdutoRequest.produto"
          pInputText
          list="listaDeProdutos"
          id="desc"
          style="width: 70%"
          autocomplete="off"
          (input)="selecionarProduto()"
        />
      </div>
      <div style="display: flex; align-items: center; margin-bottom: 2rem">
        <label for="preco" style="width: 30%">Quantidade</label>
        <input
          [(ngModel)]="compraProdutoRequest.quantidade"
          pInputText
          id="quantidade"
          style="width: 70%"
          autocomplete="off"
        />
      </div>
      <div style="display: flex; align-items: center; margin-bottom: 2rem">
        <label for="preco" style="width: 30%">Valor unitário</label>
        <input
          [(ngModel)]="compraProdutoRequest.precoUnitario"
          pInputText
          id="preco"
          style="width: 70%"
          autocomplete="off"
        />
      </div>
    </div>
    <div style="width: 60%; height: 100%; overflow-y: auto">
      <table style="width: 100%">
        <thead>
          <tr>
            <th style="text-align: start">Produto</th>
            <th style="text-align: start">Quantidade</th>
            <th style="text-align: start">Valor unitário</th>
            <th></th>
          </tr>
        </thead>
        <tbody style="overflow-y: scroll">
          @for(listProduto of compraRequest.listaDeProdutos; track $index) {
          <tr style="height: 30px">
            <td>
              @for(produto of produtos; track $index) { @if(listProduto.produto
              == produto.id) {
              {{ produto.descricao }}
              } }
            </td>
            <td>{{ listProduto.quantidade }}</td>
            <td>{{ listProduto.precoUnitario }}</td>
            <td style="text-align: end">
              <img
                (click)="removerProduto($index)"
                id="trash"
                src="trashicon.png"
              />
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>

  <div
    style="
      display: flex;
      justify-content: center;
      gap: 2rem;
      height: 20%;
      align-items: center;
    "
  >
    <button
      type="button"
      label="Cancelar"
      severity="secondary"
      (click)="visibilidadeDialogForm = false"
      style="width: 33%"
      pButton
    ></button>
    <button
      type="button"
      label="Adicionar a lista"
      (click)="adicionarProduto()"
      style="width: 33%"
      pButton
    ></button>
    <button
      type="button"
      label="Cadastrar"
      (click)="cadastrarCompra()"
      style="width: 33%"
      pButton
    ></button>
  </div>
</p-dialog>

<datalist id="listaDeProdutos">
  @for(produto of produtos; track $index) {
  <option [value]="produto.descricao"></option>
  }
</datalist>

<datalist id="listaDeFornecedor">
  @for(fornecedor of fornecedores; track $index) {
  <option [value]="fornecedor.descricao"></option>
  }
</datalist>
